<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senior.leetmodelbackend.mapper.ProblemMapper">

    <select id="getProblemsByQueryDTO" resultType="com.senior.leetmodelbackend.entity.pojo.Problem">
        SELECT * FROM problem
        <where>
            <if test="difficulty != null and difficulty != ''">
                AND difficulty = #{difficulty}
            </if>
            <if test="language != null and language != ''">
                AND language = #{language}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="minAveScore != null">
                AND ave_score >= #{minAveScore}
            </if>
            <if test="maxAveScore != null">
                AND ave_score &lt;= #{maxAveScore}
            </if>
            <if test="tags != null and tags.size() > 0">
                <bind name="tagsSize" value="tags.size()" />
                AND id IN (
                    SELECT pt.problem_id
                    FROM problem_tag pt
                    JOIN tag t ON pt.tag_id = t.id
                    WHERE t.name IN
                    <foreach collection="tags" item="tag" open="(" separator="," close=")">
                        #{tag}
                    </foreach>
                    GROUP BY pt.problem_id
                    HAVING COUNT(DISTINCT t.id) = #{tagsSize}
                )
            </if>
        </where>
        <if test="sortOrder != null and sortOrder != ''">
            ORDER BY id ${sortOrder}
        </if>
    </select>

</mapper>