<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senior.leetmodelbackend.mapper.SubmissionAiReviewMapper">

    <insert id="insert" parameterType="com.senior.leetmodelbackend.pojo.relation.SubmissionAiReview" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO submission_ai_review (user_id, problem_id, status, submission_content, ai_feedback, ai_score, create_time, update_time)
        VALUES (#{userId}, #{problemId}, #{status}, #{submissionContent}, #{aiFeedback}, #{aiScore}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.senior.leetmodelbackend.pojo.relation.SubmissionAiReview">
        UPDATE submission_ai_review
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="aiFeedback != null">ai_feedback = #{aiFeedback},</if>
            <if test="aiScore != null">ai_score = #{aiScore},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="com.senior.leetmodelbackend.pojo.relation.SubmissionAiReview">
        SELECT * FROM submission_ai_review WHERE id = #{id}
    </select>

</mapper>
