<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senior.leetmodelbackend.mapper.UserMapper">

    <update id="updateUserById">
        UPDATE user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
#             TODO: 这里不应该支持修改密码
<!--            <if test="password != null and password != ''">password = #{password},</if>-->
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="school != null and school != ''">school = #{school},</if>
            <if test="role != null and role != ''">role = #{role},</if>
            <if test="trainerType != null and trainerType != ''">trainer_type = #{trainerType},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            update_time = now(),
        </set>
        WHERE id = #{id}
    </update>

</mapper>